<!-- <!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Vikash Kamat: Upload</title>
    <link rel="stylesheet" type="text/css" href="file-upload.css">
</head>

<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center mb-5">
                <h2 class="heading-section">Upload</h2>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-5">
                <div class="login-wrap p-4 p-md-5">
                    <div class="d-flex">
                        <div class="w-100">
                            <h3 class="mb-4">Upload</h3>
                        </div>
                    </div>
                    <form action="#" class="signin-form">
                        <div class="form-group mb-3">
                            <label class="label" for="name">Name</label>
                            <input type="text" class="form-control" placeholder="Name">
                        </div>
                        <div class="form-group mb-3">
                            <label class="label" for="name">File</label>
                            <input type="file" class="form-control" placeholder="Name">
                        </div>
                        <div class="form-group">
                            <button type="submit" class="form-control btn btn-primary submit px-3">Upload</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html> -->